/* =========== INDEX =========== */
:root {
    --verde-luxo: #0B3D2E;
    --dourado-metalico: #D4AF37;
    --dourado-brilhante: #FFDF00;
    --dourado: #FDD017;
    --branco: #FFFFFF;
    --cinza-texto: #555555;
    --cinza-claro: #F8F8F8;
    --titulos: #094142;
    --cinza-azulado: #0c5a5c;
    --verde-agua: #26a175;
    --verde-agua-escuro: #009963;
    --preto: #000000;
    --cinza-escuro: #707070;
    --cinza-fundo: #faf9f8;
    --cinza-borda: #e0e0e0;
    --cinza-borda-escuro: #d0d0d0;
    --cinza-borda-claro: #f0f0f0;
    --sombra: rgba(0, 0, 0, 0.1);
  }
/* Carrossel */
.carousel-container {
  position: relative;
  align-items: middle;
  overflow: hidden;
}

.carousel-item a img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  height: auto;
  object-fit: cover;
}

.titulo-noticia {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
}

.titulo-noticia h1 {
  color: var(--branco);
  text-align: left;
  line-height: 1.5;
  left: 0;
  bottom: 0;
  margin: 0;
  position: absolute;
}

.sub-noticia {
  position: relative;
  width: 100%;
  height: 60%;
  display: flex;
  padding-top: 15px;
}

.sub-noticia h2 {
  color: #ccc;
  text-align: left;
  line-height: 1.2;
  top: 0;
  left: 0;
  margin: 0;
  position: absolute;
  vertical-align: top;
  padding-top: 5px;
}

.carousel-indicators {
  bottom: auto !important;
  margin-top: -20px;
  z-index: 0 !important;
}

.carousel-inner .imagem {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-item {
  transition: transform 0.5s ease-in-out;
}
.carousel-inner {
  width: 85% !important;
}
/* Fim Carrossel */

/* Acesso Rápido */
.section-box { text-align: center; padding: 4rem 1rem; max-width:1200px; margin:0 auto; }
.section-box h2 { font-size: 22px; font-weight: 600; color: var(--titulos); margin-bottom:2rem; }
.cards-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem; /* espaçamento entre os cards */
  max-width: 1200px; /* controla largura máxima do grid */
  margin: 0 auto; /* centraliza */
  justify-content: center
}
.card-box {
  display: block; /* transforma o link em "caixa" */
  text-decoration: none; /* remove sublinhado */
  color: inherit; /* mantém cores do texto */
  background: var(--branco);
  position: relative;
  border-radius: 16px; /* bordas arredondadas */
  padding: 2rem 1.5rem;
  border-top: 2px solid var(--verde-agua);
  min-height: 200px; /* dá corpo, mas deixa flexível */
  box-shadow: 0 6px 12px rgba(0,0,0,0.08);
  transition: transform 0.25s ease, box-shadow 0.25s ease, background 0.25s ease;
}
.card-box:hover {
  /*transform: scale(1.03); efeito “pegável” */
  box-shadow: 0 10px 20px rgba(0,0,0,0.12);
  background: #fafafa; /* leve mudança no fundo */
  transform: translateY(-5px);
}
.card-box-icon {
  font-size: 2.8rem;
  display: block;
  margin-bottom: 1rem;
  color: var(--verde-luxo);
  text-shadow: 0 2px 4px rgba(0,0,0,0.05); /* ícone fofinho com profundidade */
}
.card-box h3 {
  margin-bottom: 0.5rem; color: var(--verde-luxo);
  font-size: 18px; font-weight: 600;
}
.card-box p { font-size: 1rem; color: #555; font-weight: 500; }

.acesso-rapido h1 {
  color: var(--branco);
  text-align: center;
  margin: 0;
  padding-top: 30px;
  font-size: 22px;
}

.acesso-rapido a {
  text-decoration: none;
}
.titulos { margin: 0 auto; }
.titulos h1 {
  font-weight: 600;
  color: var(--titulos);
}

.icone-acesso {
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-acesso {
  position: relative;
  width: 100%;
  height: 45%;
  justify-content: center;
  bottom: 0;
}

.texto-acesso h2 {
  font-weight: 600;
}

.icone-acesso img {
  height: 60px;
  margin-bottom: 1rem;
}
/* Fim Acesso Rápido */

/* Benefícios Concedidos */
.benef-concedidos { background-color: #316a57 }
.beneficios { margin: 0 auto; }
.benef-title { font-size: 25px; font-weight: 600; }
.beneficios h1 {
  color: var(--branco); text-align: center;
  margin: 0; padding: 33px 0px;
}
.beneficios h2 { color: var(--branco); text-align: center; font-size: 30px; }
.dados-benef {
  display: grid; grid-template-columns: repeat(4, 1fr);
  gap: 2rem; padding-top: 20px;
}
.dados-benef h1 {
  font-family: "Montserrat Italic";
  text-align: center;
  font-weight: 600;
  font-size: 6rem;
  line-height: 1;
  color: var(--branco) ;
}

.concessoes h3 {
  font-family: "Montserrat Italic";
  text-align: center;
  font-size: 20px;
  color: var(--branco);
}

.pgtos-benef h3 {
  font-family: "Montserrat Italic";
  text-align: right;
  font-size: 20px;
  color: var(--branco);
}

.num-pgto { display: flex; text-align: center; justify-content: center; }

.num-pgto h2 {
  font-family: "Montserrat Italic";
  padding-top: 1.5rem;
  align-self: center;
  font-weight: 600;
  color: var(--branco);
}

.saber-mais {
  display: flex; justify-content: center; align-items: center;
  height: 130px; padding-top: 35px;
}

#see-more-benef {
  text-decoration: none;
  background-color: #ffffff;
  color: #094142;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-weight: 600;
  transition: 0.3s;
}

#see-more-benef:hover {
  background-color: #d9f1e5;
}
/*
.dados-benef .item {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
*/
/* Fim Benefícios Concedidos */

/* Fale Conosco */
.faleconosco { padding: 50px 0px 50px 0px; }
.faleconosco a { text-decoration: none; color: var(--preto); }
.duvidas-titulo { margin: 0px auto 20px auto; }
.duvidas-titulo h1 { font-size: 20px; font-weight: 700; }
.meios-contato { 
  display: flex; justify-content: space-between;
  margin: 40px auto 5px auto;
}
.meios { display: flex; }
.meios img { height: 45px; }
.meios h3 { color: var(--preto); font-size: 1.15rem; }

.infos { padding-left: 15px; }
.infos p { padding-top: 0.4rem; color: var(--cinza-escuro); }
/* Fim Fale Conosco */

.acesso-rapido {
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.acesso {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

/* ----- Responsividade ----- */
/* Mobile - até 767px */
@media (max-width: 767px) {
  /* Carrossel */
  #carouselExampleInterval { display: none !important; }
  /* Benefícios */
  .dados-benef { grid-template-columns: 1fr; gap: 2rem; }
  .dados-benef h1 { font-size: 5rem; /* ainda grande, mas cabendo */ }
  .concessoes h3,
  .pgtos-benef h3 { text-align: center; font-size: 18px; }
  .num-pgto { flex-wrap: wrap; /* quebra os pedaços do número */ justify-content: center; }
  .num-pgto h2 { font-size: 1.5rem; margin: 0 0.2rem; }
  .num-pgto h1 { font-size: 5rem; }
  .dados-benef .item { opacity: 1 !important; transform: none !important; }
  /* Acesso rápido */
  .cards-box { grid-template-columns: 1fr; /* 1 coluna */ }
  .section-box { padding: 3rem 2rem; }
}

/* Tablet - de 768px até 991px */
@media (min-width: 768px) and (max-width: 991px) {
  /* Carrossel */
  .carousel { display: block; }
  .carousel-container {
    width: 52rem; height: 500px;
    margin: 20px auto; border-radius: 4px;
  }
  .carousel-item img { height: 500px; }
  .conteudo { height: 45%; }
  .titulo-noticia h1 { font-size: 1.4rem; }
  .sub-noticia h2 { font-size: 1rem; }
  /* Fim Carrossel */

  /* Acesso Rápido */
  .section-box { padding: 3rem 2rem; margin: 0 3rem;}
  .acesso-rapido {
    min-height: 360px;
  }

  .acesso {
    width: 52rem; padding-top: 25px; margin-top: 20px;
    overflow-x: auto; overflow-y: hidden;
  }

  .cards-box { grid-template-columns: repeat(2, 1fr); /* 2 colunas */ }

  /* Fim Acesso Rápido */

  /* Benefícios Concedidos */
  .beneficios { width: 52rem; }
  .dados-benef { grid-template-columns: repeat(2, 1fr); gap: 2rem; }
  .concessoes h3,
  .pgtos-benef h3 { text-align: center; font-size: 18px; }
  .dados-benef h1 { padding: 0px 7px !important; }
  /* Fale Conosco */
  .duvidas-titulo { width: 52rem; }
  .meios-contato { width: 52rem; }
  .titulos { width: 52rem; }
  .infos { padding-left: 5px; }
  .infos p { font-size: 0.9rem; }
  .meios h3 { font-size: 1rem; font-weight: 500; }
  .meios img { height: 40px; }
  /* Fim Fale Conosco */
}

/* Notebook - de 992px até 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Carrossel */
  .carousel-container {
    width: 68rem;
    height: 530px;
    margin: 20px auto;
    border-radius: 4px;
  }

  .carousel-item a img {
    height: auto;
    max-height: 530px; /* mantém proporção mas limita exageros */
    object-fit: cover; /* preenche mantendo qualidade */
  }

  .conteudo { height: 50%; }
  .titulo-noticia h1 { font-size: 1.5rem; }
  .sub-noticia h2 { font-size: 1.12rem; }
  /* Fim Carrossel */

  /* Acesso Rápido */
  .acesso-rapido { min-height: 360px; padding-bottom: 20px; }
  .acesso { width: 68rem; padding-top: 25px; margin-top: 20px; }
  /* Fim Acesso Rápido */

  /* Benefícios Concedidos */
  .benef-concedidos { height: 380px; }
  .dados-benef h1 { padding: 0px 7px !important; }
  /* Fim Benefícios Concedidos */

  /* Fale Conosco */
  .duvidas-titulo { width: 68rem; }
  .meios-contato { width: 68rem; }
  .titulos { width: 68rem; }
  .infos { padding-left: 15px; }
  .meios h3 { font-size: 1.15rem; }
  .meios img { height: 45px; }
  /* Fim Fale Conosco */
}

/* Desktop - 1200px ou mais */
@media (min-width: 1200px) {
  /* Carrossel */
  .carousel-container {
    width: 75rem;
    height: 550px;
    margin: 20px auto;
    border-radius: 4px;
  }
  .carousel-item img {
    height: auto;
    max-height: 550px; /* mantém proporção mas limita exageros */
    object-fit: cover; /* preenche mantendo qualidade */
  }
  .conteudo { height: 50%; }
  .titulo-noticia h1 { font-size: 22px; }
  .sub-noticia h2 { font-size: 1.2rem; }
  /* Fim Carrossel */

  /* Acesso Rápido */
  .acesso-rapido { min-height: 360px; padding-bottom: 20px; }
  .acesso { width: 75rem; padding-top: 25px; margin-top: 20px; }
  /* Fim Acesso Rápido */

  /* Benefícios Concedidos */
  .benef-concedidos { height: 380px; }
  .beneficios { width: 75rem; }
  .dados-benef h1 { padding: 0px 7px !important; }
  /* Fim Benefícios Concedidos */

  /* Fale Conosco */
  .duvidas-titulo { width: 75rem; }
  .meios-contato { width: 75rem; }
}

/* Safari iOS apenas */
@supports (-webkit-touch-callout: none) {
  .carousel-item img { object-fit: cover; -webkit-object-fit: cover; /* redundância para iOS antigos */ }
  .section-box { padding: 4rem 1rem !important; }
  .num-pgto h1 { -webkit-text-size-adjust: none; /* evita redimensionamento automático */ }
  .acesso { min-width: 100%; /* garante que não haja scroll desnecessário */ }
  .carousel-container {
    mask-image: radial-gradient(white, black);
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    border-radius: 4px;
  }
  .acesso { -webkit-overflow-scrolling: touch; }
  .benef-concedidos { height: auto; /* evita corte de conteúdo */ min-height: 380px; }
  img { image-rendering: -webkit-optimize-contrast; }
}
/* =========== FIM INDEX =========== */